{% extends 'base.html' %}
{% load static %} 

{% block content %}
<div class="container">
    <!-- <div class="row"> -->
	<div class="d-flex flex-column justify-content-center align-items-center" id="contact_success">
		<div class="col-6" data-aos="fade-up">
			<div class="bg-base p-4 rounded-4 shadow-effect">
				<h4>Thank You!</h4>
				<p>Your message was successfully sent. <br> Hopefully we'll be working soon.</p>

				<a href="/" class="link-custom">Go back</a>
			</div>
		</div>
	</div>
</div>
{% endblock content %}
